<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="site contact hébergement partagé Poitiers coeur de ville">
    <meta name="author" content="Greg">
    <link rel="icon" href="../static/img/logo.png">
    <link href="../static/css/coliving.css" rel="stylesheet">
    <title>CoLiving Poitiers Coeur de Ville</title>
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <header class="row mb-2">
        <div class="col-lg-4  Byellow"></div>
        <div class="col-lg-8  Bright d-flex flex-column">
          <div class="title d-flex flex-column justify-content-end align-items-center">
            <div class="CO">
              <h1 class="c">CO</h1>
              <img src="../static/img/O.png">
            </div>
            <h2 class="living">living</h2>
            <h4 class="hp">Hébergement partagé</h4>
          </div>
          <div class="vga d-flex justify-content-end align-items-end">
            <h2 class="vg">Villa Gabrielle </h2>
            <img src="../static/img/logo.png" alt="logo maison puzzle">
          </div>
          <div class="line"></div>
        </div>
      </header>

      <section class="row">
        <div class=" col-lg-6 col-md-6 tof d-flex flex-column align-items-center mb-2">
          <div class="p1 mb-2 align-items-stretch">
            <img src="../static/img/img1.png"class="img-fluid" alt="salon">
          </div>
          <div class="p2p3 d-flex">
            <div class="p2 mr-1"><img src="../static/img/img2.png" class="img-fluid"alt="salle à manger"></div>
            <div class="p3"><img src="../static/img/img3.png" class="img-fluid" alt="2e salon"/></div>
          </div>
        </div>
 
        <div class="col-lg-6 col-md-6 txt mb-4">
          <div class="raw t1 d-flex">
            <div class="col-md-3">
              <img src="../static/img/lg1.png" alt="localisation">
            </div>
            <div class="col-md-9">
              <p>18 rue de l'Ancienne Comédie Poitiers coeur de ville.</p>
            </div>
          </div>
          <div class="raw t2 d-flex">
            <div class="col-md-3">
              <img src="../static/img/lg2.png" alt="recherche"/>
            </div>
            <div class="col-md-9">
              <p>7 chambres meublées, avec salle de bain privative chacune, pour des internes en médecine ou des enseignants universitaires, en mission plus ou moins courte sur Poitiers.</p>
            </div>
          </div> 
          <div class="raw t3 d-flex">
            <div class="col-md-3">
              <img src="../static/img/lg3.png" alt="prix">
            </div>
            <div class="col-md-9">
              <p>Le tarif des chambres varie de 480€ à 585€/mois (charges comprises incluant eau, électricité, Wi-Fi, assurances, taxe habitation).Dimensions : 29 m2 à 18m2 ; ce qui représente un budjet de 16€ à 19,50€/nuit.
              </br>Durée minimum : un mois.</p>
            </div>
          </div>
          <div class="raw t4 d-flex mb-3">
            <div class="col-md-3">
              <img src="../static/img/lg4.png" alt="+">
            </div>
            <div class="col-md-9">
              <p>Le co-logeur dispose d'une vaste cuisine, une salle à manger, deux grands salons entretenus par une femme de ménage, une buanderie et d'une grande salle de jeux-détente, une terrasse et un jardin de 400 m2.</p>
            </div>
          </div> 
        </div>
      </section>

      <section class="row mb-3 justify-content-center align-items-center">
        <div class="col-lg-6 mb-1">
          <div class="p4 mb-2"><img src="../static/img/img4.png" alt="salle à manger"class="img-fluid"></div>
          <div class="p5"><img src="../static/img/img5.png"  alt="2e salon"class="img-fluid"/></div>
        </div>
        <div class=" b2r col-lg-6  d-flex justify-content-center align-items-center">
            <img src="../static/img/lg5.png" alt="téléphone"class="img-fluid">
            <p>3 chambres de 24 à 29 m2 à 585€ par mois.
            </br>4 chambres de 18 à 20 m2 à 480€ par mois.</p>
        </div>
      </section>

      <section class="row mb-2">
        <div class="col-lg-6  map ">
          <img src="../static/img/loc_maps.png" alt="centre vile, église Notre-Dame-La Grande, faculté de médecine"class="img-fluid">
        </div>
        <div class="col-lg-6 t61">
          <div class="row d-flex flex-column align-items-center justify-content-center">
            <h2 class="h2 ">
              <span>HÉBERGEMENT PARTAGÉ</span></br>
              DANS UN HOTEL PARTICULIER </br>
              <span class="vgg">VILLA GABRIELLE </span></br>
              A POITIERS HYPER CENTRE.
            </h2>
          <div class="row t62 mr-1">
            <ul>
              <li><p>> pour des professionnels, stagiaires, internes et des enseignants en mission plus ou moins courte sur Poitiers</p>
              </li>
              <li><p>> se loger en centre ville</p>
              </li>
              <li><p>> proches des principaux arrêts de bus et centre commercial des Cordeliers</p>
              </li>
            </ul>
          </div>
          <div class="row t63">
            <h3 class="j2">Projet disponible à partir
              </br><span>de Janvier 2020</span>
            </h3>
          </div>
        </div>
      </section>

      <section class="row  ">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 contact d-flex flex-column justify-content-center align-items-center">
          <h3>CONTACT</h3>
          <h2>Julie et Benoit DAIRON</h2>
          <ul>
            <li class="d-flex">
              <img src="../static/img/lg6.png" alt="telephone portable" >
              <p>06 80 57 23 83 </br> 06 08 94 60 94</p>
            </li>
            <li>
              <img src="../static/img/lg7.png" alt="mail" ><a href="mailto:bdairon@icloud.com">bdairon@icloud.com</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3"></div>
      </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>